<main>

    <div class="row">

        <div class="col l2 user-side-bar hide-on-small-only">
            sidebar above mobile
            <ul class="collection">
                <li class="collection-item avatar">
                    <img src="images/yuna.jpg" alt="" class="circle">
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
            </ul>
        </div>
        <div class="col s12 show-on-small hide-on-med-and-up">
            sidebar mobile only
            <ul class="collection">
                <li class="collection-item avatar">
                    <img src="images/yuna.jpg" alt="" class="circle">
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
            </ul>
        </div>
        <div class="col l10 s12 center-align">
            <div class="row">
                <div class="col s12">
                    <h2>Dashboard for<br>
                        COUPLENAME</h2>
                </div>
            </div>
            <div class="row">
                Tell us what you're into!
            </div>
            <div class="row">
                <button>Meal Ideas</button><button>Date Ideas</button>
            </div>
            <div class="row">
                Show me what we both like!
            </div>
            <div class="row">
                <button>Meal Time!</button><button>Date Time!</button>
            </div>
        </div>

    </div>

</main>