/*
This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: http://www.fonts.com
*/

@font-face {
    font-family: "Honey Dew";
    src: url("../Fonts/HoneyDew.eot") format("eot"), url("../Fonts/HoneyDew.woff") format("woff"), url("../Fonts/HoneyDew.woff2") format("woff2"), url("../Fonts/HoneyDew.ttf") format("ttf");
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color:#ffffff;
    min-height: 100vh;
}

.swipe-page {
    background: #242424;
}

.brand-logo {
    font-family: "Honey Dew";
    font-size: 5em;
}

.header {
    margin-top: 5px;
    font-family: "Honey Dew";
    font-weight: 500;
}

.info {
    text-align: justify;
    letter-spacing: .5px;
    line-height: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
}

.brand-logo {
    margin-left: 30px;
    margin-top: 5px;
}

.idea {
    text-align: center;
    margin-top: 30%;
    color: #ffc400;
    font-size: 5em;
    -webkit-text-stroke: 1px #242424;
    text-shadow: 0px 0px 14px rgb(133, 143, 0);
}

.btn-large {
    border-radius: 15px;
    margin: 5px;
}

.thumbnail {
    border: 2px solid #dbdbdb;
    border-radius: 15px;
    height: 200px;
    width: 200px;
}

.thumbnail-img {
    max-width: 190px;
    max-height: 190px;
    padding: 5px;
}

.user-side-bar {
    background: hsl(66, 71%, 95%);
    height: 100%;
}

.av-img {
    height: 200px;
    margin:20px auto;
}

.dashboard-cont {
    width:100%;
    margin-left: 0px;
}

.user-side-bar {
    height: 90vh;
}